:root {
  --oscuro: #3c1c76;
  --letrasHeader: orange;
  --blanco: #e7e3ee;
  --negro: #494949;

  --fondo: #b6aacc;
  --letras: #ffffff;
  --contraste: #000000;
}

:root .darkMode {
  --fondo: #543887;
  --letras: orange;
  --contraste: #ffffff;
}

body {
  background-color: var(--fondo);
  color: var(--letras);
}

main {
  padding: 4vw;
}

article {
  margin-top: 100px;
  margin-bottom: 200px;
}

.btn {
  width: 200px;
}

a:hover {
  color: var(--blanco) !important;
}

.navbar {
  background-color: var(--oscuro);
}

.socialIcons li:hover {
  background-color: var(--negro);
}

.socialIcons li a {
  color: var(--letrasHeader);
}

.navbar div div span {
  color: var(--blanco);
  font-size: 25px;
}

footer {
  background-color: var(--oscuro);
  color: var(--letrasHeader);
}

footer a {
  color: var(--letrasHeader);
}

#contacto {
  list-style: none;
}

#map {
  width: 600px;
  height: 300px;
}

.showOnResponsive {
  display: none;
}

@media (max-width: 800px) {
  #map {
    width: 400px;
    height: 300px;
  }
  .hiddenOnResponsive {
    display: none;
  }
  .showOnResponsive {
    display: block;
  }
}

.logo {
  width: 200px;
}
