:root {
  --fondo: #9e8ac8;
  --letras: #d4f985;
  --contraste: #000000;
  --header: #3C1C76;
  --letrasHeader: orange;
  --white: #ffffff;
  --black: #000000;
}

:root .darkMode {
  --fondo: #25114A;
  --letras: orange;
  --contraste: #ffffff;
  --header: #3C1C76;
  --letrasHeader: orange;
  --white: #ffffff;
  --black: #000000;
}

body {
  background-color: var(--fondo);
  color: var(--letras);
}

main {
  padding: 4vw;
}

article {
  margin-top: 100px;
  margin-bottom: 200px;
}

.btn {
  width: 200px;
}

a:hover {
  color: var(--white);
}

.navbar {
  background-color: var(--header);
}

.socialIcons li:hover {
  background-color: var(--black);
}

.socialIcons li a {
  color: var(--letrasHeader);
}

.navbar div div span {
  color: var(--white);
  font-size: 25px;
}

footer {
  background-color: var(--header);
  color: var(--letrasHeader);
}

footer a {
  color: var(--letrasHeader);
}

#contacto {
  list-style: none;
}