:root {
  --fondo: #9e8ac8;
  --letras: #d4f985;
  --contraste: #000000;
  --header: #3C1C76;
  --letrasHeader: orange;
  --white: #ffffff;
  --black: #000000;
}

:root .darkMode {
  --fondo: #25114A;
  --letras: orange;
  --contraste: #ffffff;
  --header: #3C1C76;
  --letrasHeader: orange;
  --white: #ffffff;
  --black: #000000;
}

body {
  background-color: var(--fondo);
  color: var(--letras);
}

main {
  padding: 4vw;
}

article {
  margin-top: 100px;
  margin-bottom: 200px;
}

.navbar {
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 4vw 1vw 4vw;
}

.socialIcons li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  width: 40px;
  height: 40px;
}

.socialIcons li:hover {
  background-color: var(--black);
  border-radius: 50%;
}

.socialIcons li a {
  color: var(--letrasHeader);
}

a:hover {
  color: var(--white) !important;
}

.navbar div {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.navbar div div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 16px;
}

.navbar div div span {
  color: var(--white);
  font-size: 25px;
}

footer {
  background-color: var(--header);
  color: var(--letrasHeader);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vw;
}

footer a {
  /* font-size: 40px; */
  color: var(--letrasHeader);
}

.btn {
  width: 200px;
}

#contacto {
  list-style: none;
}