@import "global.css";

/* EL METAVERSO */
#elMetaverso h1 {
  font-size: 4em;
}

#elMetaverso h2 {
  font-size: 2em;
}

#elMetaverso p {
  font-size: 1em;
}

/* TRAIDO PARA USTED */
#traidoParaUsted div img {
  margin: 50px;
  height: 100px;
  width: auto;
}

#hflogo {
  margin-top: 0;
}

#awelogo {
  height: 80px;
  margin: 12px 24px;
}

/* EVENTO */
#evento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contraste {
  color: var(--contraste);
}

.itemDeEvento p {
  margin: 0;
  font-size: 12px;
}

.cuadroDeEvento {
  border: 1px solid var(--blanco);
}

.ubicacionDeEvento span {
  font-size: 50px;
  margin: 8px;
}

/* EL TEMA */
#elTema {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#elTema div {
  width: 60%;
}

#elTema p {
  width: 60%;
}

/* PERSONAS */
/* #personas div {
  color: var(--negro)
} */

#personas .card {
  background-color: var(--negro);
  /* color: var(--negro); */
}



/* DETALLES DEL EVENTO */
#detallesDelEvento {
  display: flex;
  align-items: center;
}

#detallesDelEvento h1 {
  background-color: var(--negro);
  padding: 150px;
}

#detallesDelEvento div {
  display: flex;
  flex-direction: column;
  background-color: var(--blanco);
  color: var(--negro);
}

#detallesDelEvento div a {
  align-self: flex-end;
  margin: auto 5vw 2vw auto;
}

.contenidoDeDetalle {
  padding: 5vw 5vw 0px 5vw;
}
